label.multiload-browse-label {

  font-family: 'Lucida Grande';
  font-size: 11px;


  margin-top: 5px;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-right: 0.5em;

  cursor: default;

  color: rgb(73, 73, 73);

  border: 1px solid #e4e4e4;

  border-bottom: 1px solid rgb(0, 0, 0);
  border-bottom-style: none;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;

  background-color: rgb(192, 192, 192);

  -webkit-appearance: push-button;

}